<!-- 头部  start****************************************************** -->
<div class="coms-layout-header">
    <a href="#" class="logo">小鱼生活消费大平台</a>
    <div class="header-userinfo">
        <a class="info-name" href="javascript:;">{$webData["userinfo"]['username']}<span class="arrow"></span></a>
        <ul class="dropdown-list">
            <li><a href="{:url('admin/admin_user/profile')}">修改资料</a></li>
            <li><a href="{:url('login/loginout')}">退出</a></li>
        </ul>
    </div>
</div>
<!-- 头部  end****************************************************** -->